html, body {
	font-family: 'Exo 2', sans-serif;
    height: 100%;
}

/* Header */
.header {
	padding-top: 2%;
	padding-bottom: 1%;
}
.logo-text {
	font-weight: bold;
	font-size: 2.4em;
	color: #54585E;

	font-family: 'Quicksand', sans-serif;
}
.logo-text:hover {
	color: #3A98D8;
}
.navbar {
	margin-bottom: 0px;
}
.navbar-toggle {
	border: 1px solid #3A98D8;
}
.navbar-toggle .icon-bar {
	background-color: #3A98D8;
}
.navbar-custom {
	border-radius: none;
}
.navbar-custom li a {
	color: #54585E;
	font-size: 1.2em;
	border: 1px solid transparent; 
}
.navbar-custom li a:hover{ 
	color: #3A98D8;
	background: none;
}

#particle {
	display: block;
	position: fixed;
	z-index: -1;
	height: 50;
}

.banner {
	background: none;
	padding-top: 10%;;
	display: block;
	color: white;
	height: 50%
}
.banner .main_text { font-size: 3em; }

.banner2 {
	z-index: 1
}
.micro_banner {
	font-size: 28px
	padding-top: 2%;
	padding-bottom: 1%;
	color: white;
	margin-bottom: 1%;
	background: #01346d; /* Old browsers */
	background: -moz-linear-gradient(left,  #01346d 0%, #057cbf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#01346d), color-stop(100%,#057cbf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #01346d 0%,#057cbf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #01346d 0%,#057cbf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #01346d 0%,#057cbf 100%); /* IE10+ */
	background: linear-gradient(to right,  #01346d 0%,#057cbf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01346d', endColorstr='#057cbf',GradientType=1 ); /* IE6-9 */
}
