<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Yuya Jeremy Ong</title>

    <link href='https://fonts.googleapis.com/css?family=Duru+Sans|Merriweather:400,300,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/default.min.css">
    <link class="codestyle" rel="stylesheet" href="css/solarized_dark.css">
    <link rel="stylesheet" href="css/style.css">
</head>
