<div class="container">
    <div class="row">
        <nav class="navbar">
            <div class="navbar-brand" href="http://yutarochan.github.io">
                <p>Yuya Jeremy ong</p>
            </div>
            <ul class="nav navbar-nav pull-right">
                <li class="nav-item"><a class="nav-link" href="http://yutarochan.github.io/index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="http://yutarochan.github.io/blog.html">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="http://yutarochan.github.io/resources.html">Resources</a></li>
                <li class="nav-item"><a class="nav-link" href="http://yutarochan.github.io/about.html">About</a></li>
            </ul>
        </nav>
    </div>
</div>
